<div class="header">
  <div class="header-content">
    <div class="header-content-nav">
      <app-navbar id="nav"></app-navbar>
    </div>
    <div class="header-content-text">
      <div class="header-content-text-title">
        Browse top quality <a style="color: #ff6428">Guitars</a> online
      </div>
      <div class="header-content-text-desc">
        Explore 50k+ latest collections of branded guitars online with Rhythm.
      </div>
      <div class="header-content-text-button">
        <div class="header-content-text-button-download">
          <p>Get the App</p>
        </div>
        <div class="header-content-text-button-store">
          <img id="ch" src="../../../../assets/images/ch.png" alt="" />
          <img id="apple" src="../../../../assets/images/apple.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="header-img">
    <img id="img1" src="../../../../assets/images/header-img.png" alt="" />
    <img id="img2" src="../../../../assets/images/header-img1.png" alt="" />
  </div>
</div>
