<div class="brands">
  <div class="brands-title">
    <p>Featuring the <a style="color: #ff6428">Best Brands</a></p>
    <!-- <p>Featuring the Best Brands</p> -->
  </div>
  <div class="brands-content">
    <div class="brands-content-1">
      <img src="../../../../assets/images/ibanez.png" alt="" id="br-1" />
      <img src="../../../../assets/images/taylor.png" alt="" id="br-2" />
    </div>
    <div class="brands-content-2">
      <img src="../../../../assets/images/martin.png" alt="" id="br-1" />
      <img src="../../../../assets/images/gretsch.png" alt="" id="br-2" />
    </div>
    <div class="brands-content-3">
      <img src="../../../../assets/images/fender.png" alt="" id="br-1" />
      <img src="../../../../assets/images/takamine.png" alt="" id="br-2" />
    </div>
    <div class="brands-content-4">
      <img src="../../../../assets/images/gilsun.png" alt="" id="br-1" />
      <img src="../../../../assets/images/seagull.png" alt="" id="br-2" />
    </div>
  </div>
</div>
