<nb-card>
  <nb-card-header>
    <h1>Add Product</h1>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="AddDialog" (ngSubmit)="onSubmit()">
      <div class="form-control-group">
        <label class="label" for="input-title">Title:</label>
        <input
          nbInput
          fullWidth
          formControlName="title"
          name="title"
          type="text"
          id="input-title"
          placeholder="Title"
          fieldSize="large"
        />
      </div>
      <div class="form-control-group">
        <label class="label" for="input-title">Meta Title:</label>
        <input
          nbInput
          fullWidth
          formControlName="metaTitle"
          name="metaTitle"
          type="text"
          id="input-metaTitle"
          placeholder="Meta Title"
          fieldSize="large"
        />
      </div>
      <div class="form-control-group">
        <label class="label" for="input-description">Content:</label>
        <textarea
          nbInput
          fullWidth
          formControlName="content"
          name="content"
          id="input-content"
          placeholder="Content"
          fieldSize="large"
        ></textarea>
      </div>
      <!-- <div class="form-control-group">
        <label for="input-prices" class="label">Price:</label>
        <input
          nbInput
          fullWidth
          formControlName="prices"
          name="price"
          id="input-prices"
          placeholder="Prices"
          fieldSize="large"
        />
      </div> -->
      <div class="form-control-group">
        <label class="label" for="input-image">Image:</label>
        <input
          nbInput
          fullWidth
          formControlName="imageUrl"
          name="imageUrl"
          type="text"
          id="input-imageUrl"
          placeholder="Image"
          fieldSize="large"
          (change)="onChangeImg()"
        />
        <ng-container *ngIf="imgURL !== ''">
          <img
            *ngIf="imgURL"
            [src]="imgURL"
            style="width: 500px; height: 300px"
          /> </ng-container
        >`
      </div>

      <div class="form-control-group">
        <input
          nbButton
          width="50%"
          [status]="'danger'"
          type="button"
          value="Cancel"
          (click)="onCancel()"
        />
        <input
          nbButton
          width="50%"
          [status]="'success'"
          type="submit"
          value="Submit"
        />
      </div>
    </form>
  </nb-card-body>
</nb-card>
