<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="detail" *ngIf="product">
          <div *ngIf="product">
            <div class="single-product-area">
              <div class="zigzag-bottom"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-2"></div>

                  <div class="col-md-10">
                    <div class="product-content-right">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="product-images">
                            <div class="product-main-img">
                              <img src="{{ product.imageUrl }}" alt="" />
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="product-inner">
                            <h1 class="product-name">{{ product.title }}</h1>
                            <div
                              class="product-inner-price"
                              *ngIf="
                                product.prices[0].discountPrice === 0;
                                else block
                              "
                            >
                              <ins>
                                {{
                                  product.prices[0].price
                                    | currency: "USD":"symbol-narrow":"4.2-2"
                                }}</ins
                              >
                            </div>

                            <ng-template #block>
                              <div class="product-inner-price">
                                <ins>
                                  {{
                                    product.prices[0].price
                                      | currency: "USD":"symbol-narrow":"4.2-2"
                                  }}
                                </ins>
                                <ins id="discount">
                                  {{
                                    product.prices[0].discountPrice
                                      | currency: "USD":"symbol-narrow":"4.2-2"
                                  }}
                                </ins>
                              </div>
                            </ng-template>

                            <!-- <div>
                            <h5>Loại sản phẩm</h5>
                            <div *ngFor="let i of product.typeJewerly">
                              <p>{{ i.typeName }}</p>
                            </div>
                          </div> -->

                            <div style="margin-top: 20px">
                              <h5>Mô tả</h5>
                              <div>
                                <p>{{ product.content }}</p>
                              </div>
                            </div>

                            <form
                              action=""
                              class="cart"
                              style="margin-top: 20px"
                            >
                              <button nbButton [status]="'primary'">
                                Add to cart
                              </button>
                              <button
                                nbButton
                                [status]="'danger'"
                                type="button"
                                routerLink="/"
                              >
                                Back
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
