<div class="review">
  <div class="review-title">
    <p>What our <a style="color: #ff6428">customer’s</a> say</p>
  </div>
  <div class="review-content">
    <div class="review-content-image">
      <img src="../../../../assets/images/customer.png" alt="" />
    </div>
    <div class="review-content-desc">
      <div class="review-content-desc-text">
        “The Quality and Delivery is always on time, being a professional
        guitarist myself I love the customer service the brand provides, highly
        recommend Rhythm anytime.”
      </div>
      <div class="review-content-desc-name">Ryan Wels</div>
      <div class="review-content-desc-job">
        <div class="review-content-desc-job-text">PROFESSIONAL GUITARIST</div>
        <div class="review-content-desc-job-unk">
          <img class="r1" src="../../../../assets/images/r-1.png" alt="" />
          <img class="r2" src="../../../../assets/images/r-2.png" alt="" />
          <img class="r3" src="../../../../assets/images/r-2.png" alt="" />
          <img class="r3" src="../../../../assets/images/r-2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
