<div class="download">
  <div class="download-content">
    <p class="download-content-text">
      Browse and buy your <a style="color: #ff6428">favorite guitars</a> with
      Rhythm.
    </p>
    <div class="download-content-button">
      <a href="#" class="download-content-button-ggplay">
        <img src="../../../../assets/images/ggplay.png" alt="" />
      </a>
      <a href="#" class="download-content-button-appstore">
        <img src="../../../../assets/images/appstore.png" alt="" />
      </a>
    </div>
  </div>
  <div class="download-images">
    <div class="download-images-base">
      <img class="c" src="../../../../assets/images/Ellipse.png" alt="" />
    </div>
    <img class="a" src="../../../../assets/images/guitars3.png" alt="" />
    <img class="b" src="../../../../assets/images/guitar s1.png" alt="" />
  </div>
</div>
