<div class="footer">
  <div class="footer-content">
    <div class="footer-content-1">
      <div class="footer-content-1-1">
        <div class="footer-content-1-1-title">
          <img src="../../../../assets/images/Butterfly.png" alt="" />
          <p>Rhythm</p>
        </div>
        <div class="footer-content-1-1-location">
          <div class="footer-content-1-1-location-email">
            <img src="../../../../assets/images/sms.png" alt="" />
            <p>Enquiry@Rhythm.com</p>
          </div>
          <div class="footer-content-1-1-location-address">
            <img src="../../../../assets/images/location.png" alt="" />
            <p>San Francisco</p>
          </div>
        </div>
      </div>
      <div class="footer-content-1-2">
        <div class="footer-content-1-2-pages">
          <div class="footer-content-1-2-pages-title">
            <p>Pages</p>
          </div>
          <div class="footer-content-1-2-pages-list">
            <p>Store</p>
            <p id="e-2">Collections</p>
            <p>Support</p>
          </div>
        </div>
        <div class="footer-content-1-2-products">
          <div class="footer-content-1-2-products-title">
            <p>Product</p>
          </div>
          <div class="footer-content-1-2-products-list">
            <p>Terms</p>
            <p id="e-2">Privacy Policy</p>
            <p>Copyright</p>
          </div>
        </div>
      </div>
      <div class="footer-content-1-3">
        <div class="footer-content-1-3-title">
          <p>Follow us</p>
        </div>
        <div class="footer-content-1-3-arr">
          <img src="../../../../assets/images/Facebook.png" alt="" />
          <img
            src="../../../../assets/images/Twitter.png"
            alt=""
            class="twitter"
          />
          <a href="#">
            <img src="../../../../assets/images/Instagram.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="footer-content-2">
      <p class="footer-content-2-copyright">© 2022 Copyright.Rhythm</p>
    </div>
  </div>
</div>
